<h1> <%= @restaurant.name %> </h1>
<p> <%= @restaurant.address %> </p>
<p> <%= @restaurant.phone_number %> </p>
<p> <%= @restaurant.category %> </p>

<%= link_to "destroy this restaurant", restaurant_path(@restaurant), data: { turbo_method: "delete", turbo_confirm: "are you sure ?" } %>

<h2>Reviews</h2>
<%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

<% @restaurant.reviews.each do |review| %>

    <p>Rating:<%= review.rating %> / 5</p>
    <p>Content:<%= review.content %></p>

<% end %>
